<h1 class="app-page-title">ユーザー</h1>
<p>
    <strong>ユーザー名</strong>
    <%= @user.name %>
</p>

<p>
    <strong>パートナー</strong>
    <% @user_partner.each do |partner| %>
      <% user = partner.follower %>
      <%= user.name %>
    <% end %>
</p>

<div class="row g-4 mb-4">
  <div class="col-6 col-lg-3">
    <div class="app-card app-card-stat shadow-sm h-100">
      <div class="app-card-body p-3 p-lg-4">
        <h4 class="stats-type mb-1"> </h4>
        <div class="stats-figure">グラフ</div>
        <div class="stats-meta"> </div>
      </div><!--//app-card-body-->
      <a class="app-card-link-mask" href="<%= smoke_records_path %>"></a>
    </div><!--//app-card-->
  </div><!--//col-->

  <div class="col-6 col-lg-3">
    <div class="app-card app-card-stat shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <div class="app-card-body p-3 p-lg-4">
        <h4 class="stats-type mb-1">喫煙数入力</h4>
        <div class="stats-figure">喫煙数入力</div>
        <div class="stats-meta"></div>
      </div><!--//app-card-body-->
      <a class="app-card-link-mask" href="#"></a>
    </div><!--//app-card-->
  </div><!--//col-->

  <div class="col-6 col-lg-3">
    <div class="app-card app-card-stat shadow-sm h-100" data-bs-toggle="modal" data-bs-target="#SendSetModal">
      <div class="app-card-body p-3 p-lg-4">
        <h4 class="stats-type mb-1">通知設定</h4>
        <div class="stats-figure">
          <%= @user.send_set.send_active %>
        </div>
        <div class="stats-meta">通知時間: <%= @user.send_set.set_time.strftime('%H時%M分') %></div>
      </div><!--//app-card-body-->
      <a class="app-card-link-mask" href="#"></a>
    </div><!--//app-card-->
  </div><!--//col-->

  <div class="col-6 col-lg-3">
    <div class="app-card app-card-stat shadow-sm h-100">
      <div class="app-card-body p-3 p-lg-4">
        <h4 class="stats-type mb-1">反省文</h4>
        <div class="stats-figure">みんなの反省文</div>
        <div class="stats-meta"></div>
      </div><!--//app-card-body-->
      <a class="app-card-link-mask" href="<%= posts_path %>"></a>
    </div><!--//app-card-->
  </div><!--//col-->
</div>

<div class="row g-4 mb-4">
	<div class="col-12 col-lg-4">
		<div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
			<div class="app-card-header p-3 border-bottom-0">
				<div class="row align-items-center gx-3">
          <div class="col-auto">
						<h4 class="app-card-title">パートナー登録</h4>
					</div><!--//col-->
				</div><!--//row-->
			</div><!--//app-card-header-->
      <div class="app-card-body px-4">
        <% if @user_partner %>
          <div class="intro">
            <% @user_partner.each do |partner| %>
              <% user = partner.follower %>
              <h4 class="stats-type mb-1">パートナー: <%= user.name %></h4>
            <% end %>
        <% else%>
          <div class="intro">パートナーになりたい相手の招待コードを教えてもらってください</div>
        <% end %>
			</div><!--//app-card-body-->
			<div class="app-card-footer p-4 mt-auto">
      <% if @user_partner.blank? %>
				<a class="btn app-btn-secondary" href="<%= enter_token_user_path %>">登録する</a>
      <% end %>
			</div><!--//app-card-footer-->
		</div><!--//app-card-->
	</div><!--//col-->
</div>


<div class="container">
  <p>こちらの招待コードをパートナーの方の招待コード入力欄に入力してください。</p>
</div>

<!-- app/views/users/show.html.erb などのビューファイル -->
<div class="invitation-code-display">
  <input class="form-control" id="copyTarget" type="text" value="<%= current_user.token %>" readonly>
  <i class="btn btn-outline-secondary far fa-copy copy-btn" type="button" onclick="copyToClipboard()"></i>
</div>

<script>
  function copyToClipboard() {
    var copyTarget = document.getElementById("copyTarget");
    copyTarget.select();
    document.execCommand("Copy");
    alert('コピーしました');
  }
</script>




<%= link_to "Myタバコ登録", new_tobacco_path %>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">喫煙記録</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @smoke_record, url: smoke_records_path, local: true do |f| %>
					<div class="form-group">
						<%= f.label :smoke_date, "喫煙日" %>
						<%= f.date_field :smoke_date, value: Date.today %>
					</div>

					<div class="form-group">
						<%= f.label :smoked, "喫煙本数" %>
						<%= f.number_field :smoked, class: "form-control" %>
					</div>
      
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
						<%= f.submit "記録する", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
    </div>
  </div>
</div>

<div class="modal fade" id="SendSetModal" tabindex="-1" aria-labelledby="SendSetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SendSetModalLabel">通知設定</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @send_set do |f| %>
					<div class="form-group">
						<%= f.label :set_time, "通知時間" %>
						<%= f.time_field :set_time %>
					</div>

					<div class="form-group">
						<%= f.label :send_active, "通知設定" %>
						<%= f.select :send_active, [["通知ON",true ],["通知OFF", false]], { include_blank: false, selected: true } %>
					</div>
      
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
						<%= f.submit "設定する", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
    </div>
  </div>
</div>