<h2 class="app-page-title">マイページ</h2>
<div class="container">
  <p>
      <strong>ユーザー名</strong>
      <%= @user.name %>
      <strong>役割</strong>
      <%= @user.role_i18n %>
  </p>
</div>


<div class="container">
  <div class="row g-4 mb-4">
    <div class="col-6 col-lg-4">
      <div class="app-card shadow-sm h-100">
        <div class="app-card-body p-3 p-lg-4">
          <h4 class="app-card-title mb-1">グラフ・計算</h4>
          <div class="stats-meta"><a class="btn app-btn-secondary" href="<%= smoke_records_path %>">表示</a></div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-4">
      <div class="app-card shadow-sm h-100">
        <div class="app-card-body p-3 p-lg-4">
          <h4 class="app-card-title mb-1">喫煙数入力</h4>
          <div class="stats-meta">
            <a class="btn app-btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              記録
            </a>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-4">
      <div class="app-card shadow-sm h-100">
        <div class="app-card-body p-3 p-lg-4">
          <h4 class="app-card-title mb-1">反省文</h4>
          <div class="stats-meta"><a class="btn app-btn-secondary" href="<%= posts_path %>">一覧</a></div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-4">
      <div class="app-card shadow-sm h-100">
        <div class="app-card-body p-3 p-lg-4">
          <h4 class="app-card-title mb-1">通知設定</h4>
          <div class="stats-meta">
            <a class="btn app-btn-secondary" data-bs-toggle="modal" data-bs-target="#SendSetModal">
              設定する
            </a>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-4">
      <div class="app-card shadow-sm h-100">
        <div class="app-card-body p-3 p-lg-4">
          <h4 class="app-card-title mb-1">パートナー</h4>
          <div class="stats-meta">
            <% if @user.role == "partner"%>
              <% if @user_partner.blank? %>
                <a class="btn app-btn-secondary" href="<%= enter_token_user_path %>">登録する</a>
              <% else%>
                <% @user_partner.each do |partner| %>
                <div class="d-flex align-items-center justify-content-center">
                  <h5 class="stats-type mb-1">パートナー: <%= User.find(partner.followed_id).name %></h5>
                  <%= link_to "解除", remove_partner_user_path(followed_id: partner.followed_id), data: { turbo_method: :delete }, class: "btn btn-danger btn-sm ms-2" %>
                </div>
                <% end %>
              <% end %>
            <% else %>
              <a class="btn app-btn-secondary" href="<%= enter_token_user_path %>">ユーザーコード</a>
            <% end %>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->

    <div class="col-6 col-lg-4">
      <div class="app-card shadow-sm h-100">
        <div class="app-card-body p-3 p-lg-4">
          <h4 class="app-card-title mb-1">Myタバコ</h4>
          <div class="stats-meta">
            <% if @user.tobacco.blank? %>
              <a class="btn app-btn-secondary" href="<%= new_tobacco_path %>">登録する</a>
            <% else %>
              <a class="btn app-btn-secondary" href="<%= edit_tobacco_path %>">編集する</a>
            <% end %>
          </div>
        </div><!--//app-card-body-->
      </div><!--//app-card-->
    </div><!--//col-->
  </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">喫煙数入力</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @smoke_record, url: smoke_records_path, local: true do |f| %>
					<div class="form-group">
						<%= f.label :smoke_date, "喫煙日" %>
						<%= f.date_field :smoke_date, value: Date.today, class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :smoked, "喫煙本数" %>
						<%= f.number_field :smoked, class: "form-control" %>
					</div>
      
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
						<%= f.submit "記録する", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
    </div>
  </div>
</div>

<div class="modal fade" id="SendSetModal" tabindex="-1" aria-labelledby="SendSetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SendSetModalLabel">通知設定</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: @send_set do |f| %>
					<div class="form-group">
						<%= f.label :set_time, "通知時間" %>
						<%= f.time_field :set_time, class: "form-control" %>
					</div>

					<div class="form-group">
						<%= f.label :send_active, "通知設定" %>
						<%= f.select :send_active, [["通知ON",true ],["通知OFF", false]], { include_blank: false, selected: true }, class: "form-control" %>
					</div>
      
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
						<%= f.submit "設定する", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
    </div>
  </div>
</div>