<h2 class="app-page-title">反省文一覧</h2>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    投稿
  </button>

<!-- Button trigger modal -->
<div class="container">

  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <% if @posts.present? %>
            <%= render "post", posts: @posts %>
          <% else %>
            <p>投稿がありません</p>
          <% end %>
        </div>
      </div>
    </div>
      
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">反省文</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
				<%= form_with model: @post, local: true do |f| %>
					<div class="modal-body">
						<div class="form-group">
							<%= f.label :title %>
							<%= f.text_field :title, class: "form-control" %>
					</div>
					<div class="form-group">
							<%= f.label :content %>
							<%= f.text_area :content, class: "form-control" %>
					</div>
					<div class="modal-footer">
        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        		<%= f.submit "投稿", class: "btn btn-primary" %>
      		</div>
				<% end %>
      </div>
    </div>
  </div>
</div>

