<%= form_tag(compare_smoking_smoke_records_path, method: :get) do %>
  <%= label_tag 'duration', '期間：' %>
  <%= select_tag 'duration', options_for_select([['1週間', '7'], ['1ヶ月', '30'], ['全期間', 'all']], params[:duration]), include_blank: '選択してください' %>
  <%= submit_tag '比較する' %>
<% end %>

<div id="savingsResults">
  <p>節約金額: <%= @savings %>円</p>
</div>