<h1>本日の喫煙数</h1>
<%= form_with model: @smoke_record, url: smoke_records_path, local: true do |f| %>
	<div class="field">
		<%= f.label :smoke_date %>
		<%= f.date_field :smoke_date, value: Date.today %>
	</div>

	<div class="col-xs-2">
		<%= f.label :smoked %>
		<%= f.number_field :smoked, class: "form-control" %>
	</div>

	<div class="actions">
		<%= f.submit "記録する", class: "btn btn-primary" %>
	</div>
<% end %>
