<header class="sticky-top">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<%= link_to "禁煙アプリ", root_path, class: "navbar-brand"%>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
  			<ul class="navbar-nav ms-auto">
					<% if user_signed_in? %>
						<li>
							<%= link_to user_path(current_user), class: "nav-link text-ligth" do%>
								<i class="fas fa-users"></i> ユーザー 
							<% end %>
						</li>
						<li>
							<%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link text-light" do %>
								<i class="fas fa-sign-out-alt"></i> ログアウト
							<% end %>
						</li>
						<li>
							<%= link_to "喫煙記録", smoke_records_path, class: "nav-link text-light" %>
						</li>
						<li>
							<%= link_to "Myタバコ", tobacco_path(current_user), class: "nav-link text-light" %>
						</li>
						<li>
							<%= link_to "反省文", posts_path, class: "nav-link text-light" %>
						</li>
					<% else %>
						<li>
							<%= link_to new_user_session_path, class: "nav-link text-light" do %>
								<i class="fas fa-sign-in-alt"></i> ログイン
							<% end %>
						</li>
						<li>
							<%= link_to new_user_registration_path, class: "nav-link text-light" do %>
								<i class="fas fa-user-plus"></i> サインイン
							<% end %>	
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</nav>
</header>